{% extends 'main.html' %} {% block extraheader %} {% load filtering_tags_book %}
<script>


    function follow(event, id) {
        console.log("FALSE")
        $(document).ready(function () {
            $.ajax({
                type: 'GET',
                url: 'http://localhost:8000/api/service/follow/' + id,
                // data: { get_param: 'value' }, 
                success: function (data) {
                    console.log(data)
                    console.log(event)
                    event.classList.toggle('red')
                    event.classList.toggle('blue')
                }
            });
        });
    }


</script>
{% endblock %} {% block content %}
   <main class="center-align container" >
<h1>Authors</h1>


<div class="row l12">
    {% for a in authors %}

    <div class="col s12 m6 l4">
        <div class="card ">
            <div class="card-image  ">
               <a href={% url 'authourbooks' a.id %} >
                <img src=/pics/{{ a.image }}>
              <span class="card-title bold">{{ a.name }}</span></a>

                <a onclick="follow(this,{{a.id}})" class="btn-floating halfway-fab waves-effect waves-light {% if a|followed:id %}blue{% else %} red{% endif %}"><i class="material-icons">trending_flat</i></a>
            </div>
            <div class="card-content">
                <p >{{a.description}}</p>

            </div>

        </div>
    </div>

    {% endfor %}

</div>


</main>
{% endblock %}